@import './reset.css';
/* ==============
   General
============== */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --ff-time: 'Roboto Mono', monospace;
  --ff-general: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  min-height: 100vh;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 20% 20%;
  text-rendering: optimizeSpeed;
}

/* =============
   Utilities
============= */
.container {
  width: 90%;
  max-width: 1600px;
  margin: 1em auto;
}

/* =============
   Typography
============= */
.holiday-heading {
  text-align: center;
  font-weight: 400;
  font-size: clamp(3.5rem, 5vw, 8rem);
  display: block;
  color: rgba(255, 255, 255, 0.842);
}
.holiday-name,
.time {
  color: #fbca4e;
}

.holiday-name {
  font-size: 1.5em;
}

.holiday-time {
  text-align: center;
}

.time {
  font-weight: 500;
  font-family: var(--ff-time);
  font-size: clamp(3rem, 3rem + 10vw, 55rem);
  display: inline-block;
  text-align: right;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.time.day {
  font-size: clamp(6rem, 6rem + 15vw, 55rem);
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #ce682e 0%, #fff23c 100%);
  -webkit-font-smoothing: subpixel-antialiased;
}

/* =============
   Layouts
============= */
.grid {
  display: grid;
  grid-template-rows: 170px 1fr auto;
  gap: 2rem;
}

.header {
  align-self: end;
}

.holiday-name {
  display: block;
}

@media (min-width: 500px) {
  .holiday-name {
    display: initial;
    margin: 0 1rem;
  }
}

.holiday-time {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'day    day    day'
    'hour  minute second';
}

.grid-month {
  grid-area: month;
  justify-self: end;
}

.grid-day {
  grid-area: day;
}
.grid-hour {
  grid-area: hour;
  justify-self: end;
}
.grid-minute {
  grid-area: minute;
}
.grid-second {
  grid-area: second;
  justify-self: start;
}

.time-block {
  position: relative;
  align-self: end;
  background-clip: text;
  z-index: 0;
}

.time {
  position: relative;
}

:is(.month, .day, .hour, .minute, .second)::after {
  position: absolute;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  width: min-content;
  bottom: 0%;
  right: -1em;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 600;
  color: rgba(255, 210, 210, 0.15);
  z-index: -1;
}

.month::after {
  content: '個月';
}
.day::after {
  content: '天';
  font-size: clamp(2rem, 1rem + 5vw, 10rem);
}
.hour::after {
  content: '小時';
}
.minute::after {
  content: '分鐘';
}
.second::after {
  content: '秒';
}
